.app-footer {
    .app-footer-container {
        border-top: 1px solid #d8d8d8;
        .footer-upper-menu {
            padding: 64px 32px 24px;
            .title {
                padding-bottom: 20px;
            }
            li {
                padding-bottom: 16px;
                a {
                    color: #7a7d85;
                }
            }
            h6 {
                font-size: 16px;
            }
        }

        .footer-bottom-line {
            .footer-left {
                justify-content: flex-start;
                flex: 1;
                .footer-logo {
                    margin-right: 50px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;
                    font-size: 34px;
                    color: gray;
                }
            }
            .footer-right {
                justify-content: flex-end;
                flex: 1;
                span {
                    line-height: 38.4px;
                    margin-right: 32px;
                }
            }
            //         span:hover {
            //             color: green;
            //             // margin: 5px;
            //             // border-radius: 50%;
            //             // background-color: lightgray;
            //         }
            //     }
        }
    }
}
