.app-header {
    background-color: $clr5;
    padding: 10px;
    height: 70%;
    h1{
        color:white;
        margin-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
    }

   .logo{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       font-family:Arial, Helvetica, sans-serif;
       font-weight: 700;
       font-size: 24px;
       .join {
           border:1px solid white;
           border-radius: 5px;
           margin-left: 20px;
           height: fit-content;
       }
       span{
           color:yellowgreen;
       }
       .nav-links {
           display: flex;
           justify-self:right;
           font-size: 10px;
       }
    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        color: $clr1;
        .score {
            background-color: $clr2;
            color:$clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }
    }
    .user-info .btn-link{
        color: $clr2;
    }
    nav {
        font-size: .8em;
        background-color: $clr5;
        padding: 5px;
        font-family:Macan,Helvetica, Neue,Helvetica,Arial,sans-serif;
        margin-bottom: 50px;
        margin-right: 50px;
        margin-left: 50px;
        
    }
    nav a:first-child {
        margin-right: 30px;
    }
    nav a:not(:first-child) {
        // border-top: 1px solid white;
        padding: 0 5px;
        // margin: 10px;
    }
    nav .active {
        color: white;
    }
    
}
