.app-header {
    background-color: $clr5;
    background-color: rgba(121, 121, 121, 0);
    position: sticky;
    // position: fixed;
    top: 0;
    // left: 50%;
    z-index: 1;

    .top-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // margin-right: 50px;
        // margin-left: 50px;
    }

    .header-categoties {
        background-color: white;
        font-size: 12px;
        color: #7a7d85;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #7a7d85;
        border-top: 1px;
        // padding-right: 50px;
        // padding-left: 50px;
        a {
            color: #7a7d85;
        }
    }

    .logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-size: 24px;
        span {
            color: yellowgreen;
            margin: 0px;
        }
    }

    span .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        // color: $clr1;
        // border-radius: 50%;
        // border: 1px solid white;
        // width: 30px;
        // height: 30px;
        display: none;
    }
    .user-info .btn-link {
        color: $clr2;
        border: none;
        // border-radius: 20%;
        // border: 2px solid white;
    }
    // .user-info a {
    //     border-radius: 50%;
    //     border: 1px solid white;
    //     width: 30px;
    //     height: 60px;
    // }

    .nav-links {
        font-size: 0.8em;
        background-color: $clr5;
        padding: 5px;
        font-family: Macan, Helvetica, Neue, Helvetica, Arial, sans-serif;
        display: flex;
        // justify-self: right;
        // justify-content: start;
        font-size: 10px;
        button {
            padding: 1px;
            height: fit-content;
            margin: 0px;
        }
        a {
            padding: 1px;
            height: fit-content;
        }
        span {
            padding: 1px;
            // height: fit-content;
        }
        .join {
            border: 1px solid white;
            border-radius: 5px;
            height: fit-content;
        }
    }

    // .nav-links a:first-child {
    //     margin-right: 30px;
    // }
    .nav-links a:not(:first-child) {
        // border-top: 1px solid white;
        padding: 0 5px;
        // margin: 10px;
    }
    .nav-links .active {
        color: white;
        padding: 1px;
    }
}
