.modal-app {
    
    input {
        font-size: 10px;
        

    }

    select {
        font-size: 10px;
        

    }

    button {
        color: white;
        border-radius: 5px;
        background-color: #1dbf73;
    }

    .btn-link {
        background-color: #1dbf73;
        border-radius: 5px;
    }
}