.gig-preview {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border: 1px solid $clr10;

    .gig-description {
        > * {
            padding: 10px 12px;
        }
        h3 {
            height: 43px;
            font-family: Arial, Helvetica, sans-serif;
            a {
                color: $clr9;
            }
        }
        footer{
            width: 100%;
            justify-content: space-between;
        }
        
        
    }   
}