// .gig-list {
   

//     .gig-preview h4 {
//         color: rgb(63, 62, 62);
//         font-family: Arial, Helvetica, sans-serif;
//         // font-size: large;
//     }
//     .gig-preview h3 {
//         color: rgb(112, 112, 112);
//         font-size: medium;
//         padding-left: 0%;
//         // font-family: Arial, Helvetica, sans-serif;
//         font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
//     }
//     h3 span {
//         margin-right: 2%;
//     }
//     p span {
//         margin-left: 3%; //itay?
//     }
//     .gig-price {
//         border-top: 1px solid gainsboro;
//     }

//     p {
//         margin-bottom: 0;
//         margin-top: 3%;
//         // border-bottom: 1px solid gainsboro;
//         // border-top: 1px solid gainsboro;
//     }
//     .gig-description {
//         padding: 3%;
//     }
//     .flex-container {
//         display: flex;
//         flex-direction: row;
//         padding: 4%;
//         margin-right: 10%;
//         margin-left: 10%;
//     }

//     .gig-details {
//         width: 70%;
//         padding: 1rem;
//         flex: 4;
//         background-color: #fff;
//         height: 95vh;
//     }

//     .sidebar {
//         padding: 1rem;
//         flex: 2;
//         background-color: #fff;
//         width: 90%;
//         margin-left: 20px;
//         height: -webkit-fill-available;
//         position: -webkit-sticky;
//         height: 95vh;
//         position: sticky;
//         border: 1px solid #cacaca;
//         top: 3rem;
//     }

//     // .continue-button{
//     //     background-color: green;
//     //     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
//     // }

//     .icons {
//         font-size: 0.84375rem;
//         color: #616161;
//         font-weight: 700;
//     }

//     .gig-likes {
//         flex-direction: column;
//         border-bottom: 1px solid #a8a8a8;
//         margin: 0;
//     }

//     .standard-package span {
//         max-width: fit-content;
//     }
//     .package-price {
//         margin-bottom: 10%;
//         display: flex;
//     }

//     .package-price span {
//         flex: 1;
//         margin-left: 66%;
//     }
//     .package-price h3 {
//         flex: 5;
//         font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
//     }

//     h2,
//     h5 {
//         margin-left: 2%;
//         margin-top: 2%;
//     }

//     nav span {
//         margin-left: 92%;
//         font-size: x-large;
//     }

//     .each-slide > div {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         background-size: cover;
//         height: 350px;
//     }

//     .each-slide span {
//         padding: 20px;
//         font-size: 20px;
//         background: #efefef;
//         text-align: center;
//     }

//     .sidebar {
//         // -webkit-padding-before: 1.5rem;
//         padding-block-start: 1.5rem;
//         // -webkit-padding-start: 1.5rem;
//         padding-inline-start: 1.5rem;
//         // -webkit-padding-end: 1.5rem;
//         padding-inline-end: 1.5rem;
//         // -webkit-padding-after: 1.5rem;
//         padding-block-end: 1.5rem;
//     }
//     .checklist {
//         margin-top: 12%;
//     }

//     .package-content p {
//         font-size: large;

//         font-family: sans-serif;
//     }
//     .continue-button {
//         margin-top: 40%;
//         background-color: rgb(29, 136, 29);
//         color: rgb(230, 230, 230);
//         width: 100%;
//         display: inline-block;
//         box-sizing: border-box;
//         position: relative;
//         padding: 12px 28px;
//         border: 1px solid transparent;
//         border-radius: 4px;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 100%;
//         text-decoration: none;
//         text-align: center;
//         transition: 0.4s;
//     }

//     .continue-button:hover {
//         background-color: #37943a;
//         color: white;
//     }
// }
