.gig-preview {
    background-color: white;
    color: rgb(65, 65, 65);
    border: 1px solid gainsboro;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    min-width: 100px;

    .gig-image {
        margin-bottom: 0%;
    }

    .gig-preview img {
        margin: 0;
    }

    .gig-preview h4 {
        color: rgb(63, 62, 62);
        font-family: Arial, Helvetica, sans-serif;
    }

    .gig-preview h3 {
        color: rgb(112, 112, 112);
        font-size: medium;
        padding-left: 0%;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    h3 span {
        margin-right: 2%;
    }

    p span {
        margin-left: 35%;
    }

    .gig-price {
        border-top: 1px solid gainsboro;
    }

    p {
        margin-bottom: 0;
        margin-top: 3%;
    }

    .gig-description {
        padding: 3%;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        padding: 4%;
        margin-right: 10%;
        margin-left: 10%;
    }
}
