.hero-container {
    height: 730px;
    animation: hero-models 25s infinite;
    transition: all 0.2s ease-in-out;

    @keyframes hero-models {
        0% {
            background-image: url("../../img/model6.jpg");
        }
        33% {
            background-image: url("../../img/model024.jpg");
        }
        66% {
            background-image: url("../../img/model020.jpg");
        }
        100% {
            background-image: url("../../img/model17.jpg");
        }
    }

    img {
        size: 100%;
        object-fit: cover;
    }

    background-repeat: no-repeat;
    background-size: 100%;

    & .hero-content {
        margin-block-start: 270px;
        // max-width: 650px;
        color: white;

        & header {
            // h1 {
            //     font-size: 48px;
            // }
            margin-bottom: 20px;
            font-size: 2.5vw;
            line-height: 1.8vw;
            font-weight: 700px;
        }

        .search-input-container {
            position: relative;
            max-width: 40vw;
            .search-input-content {
                .icon {
                    position: absolute;
                    background-color: white;
                    color: #848282;
                    height: 100%;
                    width: 38px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px;
                }
                input {
                    margin-left: 35px;
                    font-size: 16px;
                }
                button {
                    font-weight: 700;
                    border-radius: 0 4px 4px 0;
                    background-color: $clr2;
                    color: white;
                    padding: 12px 24px;
                }
            }
        }

        .hero-popular {
            padding-top: 24px;
            & ul {
                margin-left: 12px;
                & a {
                    border: 1px solid white;
                    border-radius: 25px;
                    padding: 1px 18px;
                    margin-right: 12px;
                    &:hover {
                        color: rgb(31, 31, 31);
                        background-color: white;
                    }
                }
            }
        }
    }

    @font-face {
        font-family: "domaine";
        src: url("../../font/domaine.ttf");
    }

    .freelanse {
        font-family: domaine;
        font-style: italic;
        font-weight: 500;
    }
}
