.hero-container {
    // background-color: green;
    height: 680px;

    & .hero-content {
        margin-block-start: 200px;
        color: white;
        & .main-container {
            height: 100%;
            align-items: center;
        }

        & header {
            font-size: 40px;
            line-height: 48px;
            color: white;
        }

        & .hero-search {
            & .search-input-container {
                .search-input-content {
                    label{
                        width: 100%;
                    }
                    input {
                        width: 650px;
                        height: 100%;
                    }
                    button {
                        background-color: #1dbf73;
                        color: white;
                        width: 72px;
                        padding: 12px;
                    }
                }
            }
        }
        & ul {
            margin-left: 12px;
        }
        & a {
            border: 1px solid white;
            border-radius: 25px;
            padding: 1px 12px;
            margin-right: 12px;
        }
    }

    animation: hero-models 25s infinite;
    // transition: all 0.2s ease;

    img {
        size: 100%;
        object-fit: cover;
    }
    background-repeat: no-repeat;
    background-size: 100%;

    @keyframes hero-models {
        0% {
            background-image: url("../../img/model1.jpg");
        }
        25% {
            background-image: url("../../img/model2.jpg");
        }
        50% {
            background-image: url("../../img/model3.jpg");
        }
        75% {
            background-image: url("../../img/model4.jpg");
        }
        100% {
            background-image: url("../../img/model5.jpg");
        }
    }
}
