.hero-container {
    @font-face {
        font-family: "domaine";
        src: url("../../font/domaine.ttf");
    }

    .freelanse {
        font-family: domaine;
        font-style: italic;
        font-weight: 500;
    }

    height: 680px;

    & .hero-content {
        margin-block-start: 200px;
        color: white;
        & .main-container {
            height: 100%;
            align-items: center;
        }

        & header {
            font-size: 40px;
            line-height: 48px;
            color: white;
        }

        & .hero-search {
            & .search-input-container {
                .search-input-content {
                    label {
                        width: 100%;
                    }
                    input {
                        &::before {
                            content: "\f002";
                        }
                        border: none;
                        width: 650px;
                        height: 100%;
                        font-size: 16px;
                    }
                    button {
                        background-color: $clr2;
                        color: white;
                        width: 72px;
                        padding: 12px;
                    }
                }
            }
        }
        & ul {
            margin-left: 12px;
        }
        & a {
            border: 1px solid white;
            border-radius: 25px;
            padding: 1px 12px;
            margin-right: 12px;
        }
    }

    animation: hero-models 25s infinite;
    transition: all 0.2s ease;

    img {
        size: 100%;
        object-fit: cover;
    }

    background-repeat: no-repeat;
    background-size: 100%;

    @keyframes hero-models {
        0% {
            background-image: url("../../img/model16.jpg");
        }
        25% {
            background-image: url("../../img/model6.jpg");
        }
        50% {
            background-image: url("../../img/model14.jpg");
        }
        75% {
            background-image: url("../../img/model9.jpg");
        }
        100% {
            background-image: url("../../img/model17.jpg");
        }
    }
}
