.hero-container {
    height: 730px;
    animation: hero-models 25s infinite;
    transition: all 0.2s ease-in-out;
    

    @keyframes hero-models {
        0% {
            background-image: url("../../img/model6.jpg");
        }
        33% {
            background-image: url("../../img/model24.jpg");
        }
        66% {
            background-image: url("../../img/model20.jpg");
        }
        100% {
            background-image: url("../../img/model17.jpg");
        }
    }

    img {
        size: 100%;
        object-fit: cover;
    }

    background-repeat: no-repeat;
    background-size: 100%;

    // .background-txt {
    //     position: absolute;
    //     bottom: 60px;
    //     right: 100px;
    //     background-color: greenyellow;

    // }

    & .hero-content {
        margin-block-start: 270px;
        max-width: 650px;
        color: white;

        & header {
            h1 {
                font-size: 48px;
            }
        }

        .search-input-container {
            button {
                font-weight: 700;
            }
        }

        .hero-popular {
            padding-top: 24px;
            & ul {
                margin-left: 12px;
                & a {
                    border: 1px solid white;
                    border-radius: 25px;
                    padding: 1px 18px;
                    margin-right: 12px;
                    &:hover {
                        color: rgb(31, 31, 31);
                        background-color: white;
                    }
                }
            }
        }
    }

    @font-face {
        font-family: "domaine";
        src: url("../../font/domaine.ttf");
    }

    .freelanse {
        font-family: domaine;
        font-style: italic;
        font-weight: 500;
    }
}
