.user-msg {
    color: white;
    font-size: 1.4em;
    position: fixed;
    top: 10;
    right: 10;
    background-color: grey;
    border-radius: 5%;
    padding: 5px;

    &.user-msg button {
        float: right;
        border-radius: 5px;
        margin-left: 10px;
        background-color: white;
        color: #1dbf73;
    }

    &.success {
        color: white;
        background-color: #1dbf73;
    }

    &.order {
        color: white;
        background-color: #1dbf73;
        border-radius: 4px;
    }

    &.user-msg.danger {
        background-color: rgb(216, 59, 59);
    }
}
