.user-msg {
    color: white;
    // padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 10;
    right: 10;
    background-color: grey;
    border-radius: 5%;
    padding: 5px;

    &.user-msg button {
        float: right;
        border: 1px solid green;
        border-radius: 50%;
        margin-left: 10px;
        background-color: rgb(221, 253, 221);
        // padding: 10px;
    }

    &.success {
        color: white;
        background-color: rgb(41, 189, 73);
        border: 5px solid white;
        // border-radius: 5%;
    }

    &.order {
        // display:flex;
        color: green;
        background-color:rgb(221, 253, 221);
        border: 2px solid green;
        border-radius: 4px;
        animation: shake 0.5s;
        
    }

    &.user-msg.danger {
        background-color: rgb(216, 59, 59);
    }
}
