.search-input-container {
    position: relative;
    color: rgb(39, 39, 39);
    .search-input-content {
        .icon {
            position: absolute;
            background-color: white;
            color: #848282;
            height: 100%;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px 0 0 4px;
        }
        input {
            margin-left: 35px;
            font-size: 16px;
        }
        button {
            background-color: $clr2;
            color: white;
            padding: 12px 24px;
            border-radius: 0 4px 4px 0;
        }
    }
}
