.main-container {
    display: grid;
    grid-template-columns:
        1fr
        minmax(auto, $normal-breakpoint)
        1fr;

    > * {
        grid-column: 2;
    }

    @include for-narrow-layout {
        grid-template-columns:
            1fr
            minmax(auto, $mobile-breakpoint)
            1fr;
    }
    @include for-normal-layout {
        grid-template-columns:
            1fr
            minmax(auto, $narrow-breakpoint)
            1fr;
    }
    @include for-wide-layout {
        grid-template-columns:
            1fr
            minmax(auto, $normal-breakpoint)
            1fr;
    }
}

.card-grid {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    // margin: 10px;
    text-align: center;
    // background-color: darkorange;
    // grid-gap: 20px;
    // border: 1px solid gainsboro;

    // > * {
    //     @include aspect-ratio(11)
    // }
}
