body {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}
p {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
input {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;

    &:focus {
        outline: none;
    }
    &::placeholder {
        color: grey;
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
    }
}
button {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
select {
    appearance: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;

    &:focus {
        outline: none;
    }
}
hr {
    margin: 0;
}
[type=submit] {
    cursor: pointer;
}
pre {
    margin: 0;
    &:focus {
        outline: none;
    }
}