.gig-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.gig-preview {
    background-color: white;
    color: rgb(65, 65, 65);
    border-radius: .2em;
    margin: 5px;
    text-align: center;
    padding: 5px;
    border: 1px solid black
}
.gig-preview span {
    color: pink;
}

.cart {
    background-color: $clr2;
    color: $clr6;
    padding: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart li button {
    margin: 5px;
}