.details-page{
    .gig-list {
        
        list-style: none;
        display: flex;
        gap: 10px;
        margin: 50px;
    }
    
    button {
        border-radius: 5px;
    }
    
    .delete-gig {
        background-color: rgb(245, 89, 89);
    }
    .delete-gig:hover{
        background-color: red;

    }
    
    .edit-gig {
        background-color: rgb(113, 203, 238);
    
    }
    .edit-gig:hover {
        background-color: rgb(33, 174, 230);
    
    }
    
    button {
        background-color: clr2;
    
    }
}

