.details-page{
    
    .gig-likes {
        flex-direction: column;
        border-bottom: 1px solid #a8a8a8;
        margin: 0;
    }
    
    .flex-container {
        display: flex;

        padding: 4%;
        margin-right: 10%;
        // margin-left: 10%;
        
        .gig-details {
            flex:2;
            width: 100%;
            padding: 1rem;
            background-color: #fff;
            
            .details-header{

                h5 {
                    margin-left: 2%;
                    margin-top: 2%;
                }
            }
            .details-carusel{

            }
            button {
                border-radius: 5px;
            }
        
            .delete-gig {
                background-color: rgb(245, 89, 89);
            }
            .delete-gig:hover{
                background-color: red;
        
            }
        
            .edit-gig {
                background-color: rgb(113, 203, 238);
        
            }
            .edit-gig:hover {
                background-color: rgb(33, 174, 230);
        
            }
        
            button {
                background-color: clr2;
        
            }
        }
    


        .sidebar {
            padding: 1rem;
            flex: 1;
            background-color: #fff;
            width: 100%;
            height: 430px;
            
            border: 1px solid #cacaca;
            top: 3rem;
        }
            // .continue-button{
                //     background-color: green;
                //     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                // }
                
                .icons {
                    font-size: 0.84375rem;
                    color: #616161;
                    font-weight: 700;
                }
                
                
                .standard-package span {
                    max-width: fit-content;
                }
                .package-price {
                    margin-bottom: 10%;
                    display: flex;
                }
                
                .package-price span {
                    flex: 1;
                    margin-left: 66%;
                }
                .package-price h3 {
                    flex: 5;
                    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                }
                
                h2 {
                    margin-left: 2%;
                    margin-top: 2%;
                }
                
                nav span {
                    margin-left: 92%;
                    font-size: x-large;
                }
                
                // .each-slide > div {
                //         display: flex;
                //         align-items: center;
                //         justify-content: center;
                //         background-size: cover;
                //         height: 350px;
                //     }
                    
                //     .each-slide span {
                //         padding: 20px;
                //         font-size: 20px;
                //         background: #efefef;
                //         text-align: center;
                //     }
                    
                    // .checklist {
                    //     margin-top: 12%;
                    // }
                    
                    // .package-content p {
                    //     font-size: large;
                        
                    //     font-family: sans-serif;
                    // }
                    .continue-button {
                        margin-top: 10%;
                        background-color: rgb(29, 136, 29);
                        color: rgb(230, 230, 230);
                        width: 100%;
                        display: inline-block;
                        box-sizing: border-box;
                        position: relative;
                        padding: 12px 28px;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        text-decoration: none;
                        text-align: center;
                        transition: 0.4s;
                    }
                    
                    .continue-button:hover {
                        background-color: #37943a;
                        color: white;
                    }
        }
     
}