.home-page {
    margin-top: -80px;

    .home-selling-container {
        background-color: #dce1f0;
        padding: 92px 32px;
        .home-selling {
            width: 100%;
            gap: 5rem;

            &-content {
                h2 {
                    margin-bottom: 24px;
                }
                li {
                    margin-bottom: 24px;
                    h4 {
                        flex-wrap: wrap;
                        span {
                            margin-right: 10px;
                        }
                    }
                    p {
                        color: rgb(64, 28, 196);
                    }
                }
            }
        }
    }

    .selling-container .video {
        // display: flex;
        // border: 1px solid gainsboro;
        // grid-column: 4 / span 4;
        // margin: 2%;
    }
    .selling-container .video img {
        // object-fit: cover;
        // height: 42vh;
        // width: 32vw;
        // margin-left: 6%;
        // margin-top: 8%;
        // border-radius: 1%;
    }
    .explore-marketplace {
        height: 55vh;
        margin-top: 65px;
        display: grid;
    }
    .explore-marketplace h1 {
        margin-bottom: 1px;
        color: rgb(42, 42, 42);
        font-size: xx-large;
        font-weight: 800;
        text-align: left;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
    .explore-icons {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .icon {
        margin: 70px;
    }
    .icon h3 {
        font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    .icon img {
        width: 100%;
        max-width: 80px;
    }
}
