
// .home-page{
//     margin-top: -10px;
// }
// }
// .popular-services {
//     height: 40vh;
//     margin-top: 50px;
//     margin-bottom: 150px;
// }
// .carusel-services{
//     width: 100%;
// }

// .carusel-services img {
//     object-fit: cover;
//     height: 40vh;
    
// }
// .selling-container {
//     background-color: #fff;
//     display: grid;
//     margin-top: 20px;
//     height: 60vh;
//     grid-template-columns: repeat(7, 1fr);
//     column-gap: 10px;
// }
// .selling-container .text{
//     display: flex;
//     grid-column: 1 / span 3;
//     text-align: left;   
//     margin: 2%;
// }
// .selling-container .text li {
//     margin-bottom: 3%;
//     row-gap: 1%;
//     margin-top: 1%;
// }
// .selling-container .text h1 {
//     font-size: x-large;
//     margin-bottom: 4%;
//     font-family: Arial, Helvetica, sans-serif;
//     font-weight: 600;
//     color: rgb(42, 42, 42);
// }
// .selling-container .text h4 {
//     font-size: larger;
//     font-weight: bolder;
//     font-family: Arial, Helvetica, sans-serif;
//     color: rgb(63, 63, 63);
// }
// .selling-container .text p {
//     font-family:Arial, Helvetica, sans-serif;
//     color: rgb(87, 87, 87);
//     font-size: large;
    
// }
// .selling-container .text span {
//     margin-right: 2%;
//     margin-top: 1%;
// }
// .selling-container .video{
//     display: flex;
//     // border: 1px solid gainsboro;
//     grid-column: 4 / span 4;
//     margin: 2%;
// }

// .selling-container .video img{
//     object-fit: cover;
//     height: 42vh;
//     width: 32vw;
//     margin-left: 6%;
//     margin-top: 8%;
//     border-radius: 1%;
// }

// .explore-marketplace {
//     height: 55vh;
//     margin-top: 65px;
//     display: grid;
    
// }
// .explore-marketplace h1 {
//     margin-bottom: 1px;
//     color: rgb(42, 42, 42);
//     font-size: xx-large;
//     font-weight: 800;
//     text-align: left;
//     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// }
// .explore-icons {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: flex-start;
// }
// .icon {
//     margin: 70px;

// }
// .icon h3 {
//     font-family: Macan,Helvetica Neue,Helvetica,Arial,sans-serif;
// }
// .icon img {
//     width: 100%;      
//     max-width: 80px;  




.home-page {
    margin-top: -80px;

    .home-selling-container {
        background-color: #dce1f0;
        padding: 92px 32px;
        .home-selling {
            width: 100%;
            gap: 5rem;

            &-content {
                h2 {
                    margin-bottom: 24px;
                }
                li {
                    margin-bottom: 24px;
                    h4 {
                        flex-wrap: wrap;
                        span {
                            margin-right: 10px;
                        }
                    }
                    p {
                        color: rgb(64, 28, 196);
                    }
                }
            }
        }
    }

    // .selling-container .video {
        // display: flex;
        // border: 1px solid gainsboro;
        // grid-column: 4 / span 4;
        // margin: 2%;
    // }
    // .selling-container .video img {
        // object-fit: cover;
        // height: 42vh;
        // width: 32vw;
        // margin-left: 6%;
        // margin-top: 8%;
        // border-radius: 1%;
    // }
    .explore-marketplace {
        height: 55vh;
        margin-top: 65px;
        display: grid;
    }
    .explore-marketplace h1 {
        margin-bottom: 1px;
        color: rgb(42, 42, 42);
        font-size: xx-large;
        font-weight: 800;
        text-align: left;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }
    .explore-icons {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .icon {
        margin: 70px;
    }
    .icon h3 {
        font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    }
    .icon img {
        width: 100%;
        max-width: 80px;
    }

}
