.home-page {
    margin-top: -80px;

    .home-selling-container {
        background-color: #eff8f1;
        padding: 92px 32px;
        .home-selling {
            width: 100%;
            gap: 5rem;
            justify-content: space-between;
            gap: 50px;
            &-content {
                padding-right: 40px;

                h2 {
                    margin-bottom: 24px;
                }

                li {
                    margin-bottom: 24px;

                    h4 {
                        flex-wrap: wrap;
                        span {
                            margin-right: 10px;
                        }
                    }

                    p {
                        color: gray;
                    }
                }
            }

            &-img {
                object-fit: cover;
                border-radius: 4%;
                height: 42vh;
                width: 46vw;
                margin-top: 3%;
                justify-content: space-between;
                margin-left: 20px;
            }
        }
    }

    .popular-proffesional-services {
        font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
    }

    .carusel-services .img-div {
        margin: 20px;
        position: relative;
        cursor: pointer;

        img:hover {
            opacity: 0.7;
        }

        &-txt {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            color: #fff;
            padding: 6px;
        }
    }

    .carusel-services .img-div-last {
        margin-right: 10px;
        margin-left: 10px;
    }

    .explore-marketplace {
        margin-top: 65px;
        display: grid;
    }

    .explore-marketplace h1 {
        margin-bottom: 1px;
        color: rgb(42, 42, 42);
        font-size: xx-large;
        text-align: left;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    }

    .explore-icons {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .icon h3 {
        font-family: Macan, Helvetica Neue, Helvetica, Arial, sans-serif;
        margin-top: 10px;
    }

    .icon {
        margin: 70px;
        position: relative;
        cursor: pointer;

        img {
            width: 100%;
            max-width: 80px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 30%;
            left: calc(50% - 40px);
            height: 2px;
            width: 80px;
            background-color: gray;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        &:hover:after {
            // padding: 0 10px;
            background-color: rgb(0, 238, 159);
            transform: scaleX(150%);
        }
    }
}
