.seller-page {
    display: flex;
    flex-direction: column;

    .orders-list {
        display: flex;
        flex-wrap: wrap;
        color: black;
        li {
            border: 1px solid black;
        }
    }

    .add-btn {
        color: white;
        background-color: #19a463;

        &:hover {
            background-color: #079452;
        }
    }
}