.seller-page {
    display: flex;
    flex-direction: column;
    
    background-color: rgb(226, 226, 226);

    .header-container-cat {
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid rgb(226, 226, 226);
        background-color: rgb(226, 226, 226);
        color: #7a7a7a;

        position: relative;
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        .header-cat {
            ul {
                width: 100%;
                align-items: center;
                display: flex;
                text-align: center;
                padding: 0;
                li {
                    margin: 20px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 500;
                    // padding: 15px;
                    display: inline-block;
                }

                li:hover {
                    // background-color: rgb(100, 100, 100);
                    // color: white;
                    cursor: pointer;
                    border-bottom: 3px solid #2db41c;
                }
            }
        }
    }
    .orders-list {
        display: flex;
        flex-wrap: wrap;
        color: rgb(59, 59, 59);
        margin-left: 100px;
        margin-right: 100px;

        .btn-add-gig {
            box-shadow: rgb(144, 182, 146) 2px 2px 2px;
            background-color: rgb(36, 179, 112);
            color: rgb(255, 255, 255);
            width: 20%;
            margin-left: 80%;
            margin-right: 50px;
            box-sizing: border-box;
            padding: 12px 16px;
            border: 1px solid transparent;
            border-radius: 4px;
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            text-decoration: none;
            transition: 0.4s;
            &:hover {
                background-color: #1d8d43;
                color: white;
            }
        }

        .order-table {
            box-shadow: rgb(212, 212, 212) 5px 4px 4px;
            color: #777777;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 20px;
            h2 {
                margin: 12px;
                font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
                font-size: xx-large;
            }
            .table-header {
                border-bottom: 1px solid rgb(224, 224, 224);
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
                    "Open Sans", "Helvetica Neue", sans-serif;
                display: flex;
                flex-direction: row;
                font-size: large;
                font-weight: 500;
                color: rgb(148, 148, 148);
                text-align: left;

                div {
                    margin: 10px;
                    margin-top: 16px;
                }
                .header-buyer {
                    flex-basis: 10%;
                }
                .header-title {
                    flex-basis: 32%;
                }
                .header-created {
                    flex-basis: 12%;
                }
                .header-price {
                    flex-basis: 10%;
                }
                .header-delivery {
                    flex-basis: 12%;
                }
                .header-rate {
                    flex-basis: 8%;
                }
                .header-button {
                    flex-basis: 7%;
                }
            }
            .order-preview {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                display: flex;
                flex-direction: row;
                font-size: small;
                border: 1px solid rgb(224, 224, 224);
                color: #696969;

                div {
                    margin: 10px;
                    margin-top: 16px;
                }
                .order-buyer {
                    flex-basis: 10%;
                }
                .order-title {
                    flex-basis: 32%;
                }
                .order-created {
                    flex-basis: 12%;
                }
                .order-price {
                    flex-basis: 10%;
                }
                .order-delivery {
                    flex-basis: 12%;
                }
                .order-rate {
                    flex-basis: 8%;
                }
                .order-button {
                    flex-basis: 7%;
                }
            }
        }
    }
    // .gig-add{
    //     width: 40vw;

    // }

    .start-selling {
        // background-color: #fff;
        margin: 100px;
        // width: 100vw;
        max-width: 30%;
        margin-bottom: 20px;
        margin-top: 20px;
        color: rgb(119, 119, 119);
        // border: 1px solid rgb(202, 202, 202);
        padding: 1px;
        border-radius: 1%;
        .gig-sell {
            border-color: #b6b6b6;
            width: 100%;

            .modal {
                background-color: rgb(184, 0, 0);
            }
            .post-gig-for-sale {
                color: rgb(131, 131, 131);
                display: flex;
                flex-direction: column;

                ul {
                    list-style-type: none;
                    li {
                        color: rgb(29, 29, 29);
                        height: 40px;
                        select {
                            height: 30px;
                            padding: 1;
                            color: #777777;
                            border-color: #ffffff;
                            cursor: pointer;
                            &:hover {
                                background-color: #777777;
                                color: #fff;
                            }
                        }
                    }
                    li:nth-child(2n) {
                        // background-color : #c3c3c3;

                        input[type="text"],
                        textarea {
                            background-color: #e2e2e2;
                        }
                    }
                }
            }
            .publish-gig {
                background-color: rgb(36, 179, 112);
                color: rgb(255, 255, 255);
                width: 100%;
                box-sizing: border-box;
                padding: 12px 28px;
                border: 1px solid transparent;
                border-radius: 4px;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                text-decoration: none;
                transition: 0.4s;

                &:hover {
                    background-color: #1d8d43;
                    color: white;
                }
            }
        }
    }
    .add-btn-container {
        .btn {
            float: right;
            margin-right: 300px;

            button {
                background-color: rgb(36, 179, 112);
                color: rgb(255, 255, 255);
                width: 100%;
                box-sizing: border-box;
                padding: 12px 28px;
                border: 1px solid transparent;
                border-radius: 4px;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                text-decoration: none;
                transition: 0.4s;

                &:hover {
                    background-color: #1d8d43;
                    color: white;
                }
            }
        }
        .add {
            margin-left: 300px;
            font-family: system-ui;
            font-size: xx-large;
        }
    }
    .gig-list {
        margin-top: 40px;
        background-color: white;
        margin-left: 120px;
        margin-right: 120px;
        padding: 12px;
    }
    .my-gigs {
        color: rgb(70, 70, 70);
        display: block;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-size: 32px;
        font-weight: 700;
        background-color: white;
    }
}

// form{
//     display: flex;
//     flex-direction: column;

//     label{
//         width: 100%;

//     }
//     input{
//         width: 100%;
//         height: 100%;
//         border: none;
//         color: rgb(58, 58, 58);
//         margin: 5px;
//     }
//     button{
//         background-color: rgb(36, 179, 112);
//         color: rgb(255, 255, 255);
//         width: 80%;
//         align-self: center;
//         box-sizing: border-box;
//         padding: 12px 28px;
//         border: 1px solid transparent;
//         border-radius: 4px;
//         font-weight: 600;
//         font-size: 16px;
//         line-height: 100%;
//         text-decoration: none;
//         transition: 0.4s;

//         &:hover {
//             background-color: #1d8d43;
//             color: white;
//         }
//     }
// }
