// Colors
$clr1: #ce2e6c;
$clr2: #1dbf73;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #075211;
$clr6: #fff;
$clr7: #222;
$clr8:#62646a;
$clr9:rgb(34, 35, 37);
$clr10:rgb(228, 229, 231);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1200px;